body{
    background-color:#edeef0 ;
    margin: -18px auto;
    font-family: VKSans;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@font-face {
    font-family: VKSans;
    src: url(../../../public/fonts/VKSans.ttf);
}